@import './colors.less';

@media (max-width: 768px) {
	#root > main {
		flex-direction: column;
		
		& > div.left-side-bar {
			position: relative;
			height: 200px;

			& > div.logo {
				width: 100%;
				height: auto;
				padding: 5px;
				flex-direction: row;
				margin-bottom: 10px;

				& > i {
					margin: 0;
					margin-right: 10px;
				}
			}

			& > .app-navigation {
				flex-direction: row;
				height: 200px;
				
				& > .title {
					display: none;
				}

				& > a {
					margin: 0;
					margin-right: 15px;
					height: 100%;

					&:last-child {
						margin-right: 0;
					}

					& > div {
						display: none;
					}
				}
			}
		}

		& > div.content {
		    display: flex;
    		flex: 1;
			margin-left: 0;
			margin-top: 20px;
			left: 0;
			position: relative;
		}

		.search-input {
			width: 100%;
		}

		.player-control {
			height: auto;
			min-width: 0;
			max-width: 340px;
			height: 516px;
			flex-direction: column;
			width: 100%;
			min-height: 0;

			.load-track {
				height: 55px;
				width: 100%;
				border-radius: 0;

				& > i {
					transform: rotate(90deg);
				}

				&.load-prev-track {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}

				&.load-next-track {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}
			.track-info-wrapper {
				height: 100%;
			}
			.track-info {
				display: block;
				height: 100%;
			    width: 100%;
			    text-align: center;

			    & > .song-info > span {
			    	margin-bottom: 15px;
			    }
			}
		}
  	}
}