@import './colors.less';

nav.app-navigation {
	display: flex;
	flex-direction: column;
	flex: 1;
	font-weight: 200;
	
	align-items: center;
	padding: 15px;
	background-color: @black;

	& > .title {
		font-size: 20px;
		color: @white;
		padding: 15px;
	}
}

a.nav-button {
	height: 170px;
	width: 100%;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	flex-direction: column;
	margin-bottom: 30px;
	color: @white;
	text-decoration: none;
	transition: 0.2s linear background;
	background-color: @lightBlack;

	&.logout {
		border: 1px solid @black;
	}

	& > i.fa {
		font-size: 50px;
		margin-bottom: 10px;
	}

	&:not(.active):hover {
		color: @yellow;
	}
	
	&.active, &:active {
		color: @white;
		background-color: @darkYellow;
	}

	&:last-child {
		margin-bottom: 0;
	}
}