@import './colors.less';

.track-in-list {
	width: 300px;
	height: 300px;
	position: relative;
	flex-direction: column;
	justify-content: flex-end;
	display: inline-flex;
	margin: 10px;

	&.inline {
		width: 100%;
		font-size: 20px;
		height: 50px;
		flex-direction: row;
		justify-content: flex-start;
		display: flex;
		overflow: hidden;
		margin: 0;
		margin-bottom: 10px;
		border-radius: 5px;

		& > img {
			position: relative;
			width: auto;
		}

		& > .track-in-list-info {
			display: flex;
			background: linear-gradient(to right, rgb(44, 45, 46), #373833);
			overflow: hidden;
			height: 100%;
			align-items: center;
			flex-direction: row;
			flex: 1;

			& > span {
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		&:last-child { 
			margin: 0;
		}
	}

	&.smarted {
		width: auto;
		display: inline-flex;
		margin: 5px;

		& > .track-in-list-info {
			display: none;
		} 

		&:last-child {
			margin: 5px;
		}
	}

	& > i.fa-play, i.fa-stop {

		&.fa-play, &.fa-stop {
			position: absolute;
		    top: 5px;
		    z-index: 1;
		    left: 5px;
		    font-size: 19px;
		    color: white;
		    background: #37393a;
		    cursor: pointer;
		    padding: 5px;
		    width: 40px;
		    height: 40px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    transition: 0.3s linear all;
		    border-radius: 50%;

		   	&:hover {
		   		color: #dbdbdb;
		   	}

		   	&:active {
			    color: #9ba060;
		   	}		
		}

		&.fa-play:before {
    		margin-left: 4px;
		}
	}

	& > img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		border-radius: 3px;
		height: 100%;
		object-fit: contain;
	}
	& > .track-in-list-info {
		padding: 5px;
	    position: relative;
	    background: @blackWithTransparent;
	    display: flex;
	    flex-direction: column;



	    & > span {
	    	white-space: nowrap;
	    	overflow: hidden;
	    	text-overflow: ellipsis;

	    	& > i {
	    		margin-right: 5px;
	    		color: @grey;
	    	}
	    }
	}
}